#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_link:
	dh_link opt/copy-agent/CopyAgent usr/bin/CopyAgent \
	opt/copy-agent/CopyCmd usr/bin/CopyCmd \
	opt/copy-agent/CopyConsole usr/bin/CopyConsole

override_dh_makeshlibs:

override_dh_shlibdeps:

override_dh_strip:

override_dh_compress:

override_dh_install:
	mkdir -p $(CURDIR)/copy-agent/usr/lib/nautilus/extensions-3.0
	fakechroot chroot $(CURDIR)/copy-agent ./CopyAgent -installOverlay
	mkdir -p $(CURDIR)/debian/copy-agent
	mv $(CURDIR)/copy-agent/usr $(CURDIR)/debian/copy-agent
	dh_install copy-agent/ /opt

#get-orig-source:


